<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogs</title>
    <script src="/static/javascript/createBlog.js"></script>
    <script src="/static/javascript/showPassword.js"></script>
</head>

<body>
    <form method="GET" id="createBlog">
        <input type="text" name="title" placeholder="Title" minlength="5" maxlength="20" id="title">
        <br>
        <input type="text" name="description" placeholder="Description" minlength="5" maxlength="20" id="description">
        <br>
        <textarea name="content" cols=" 30" rows="10" placeholder="Content" id="content"></textarea>
        <br>
        <input name="username" type="username" placeholder="Username" id="username" minlength="5" maxlength="12">
        <input type="password" name="password" placeholder="Password" id="password" minlength="5" maxlength="12">
        <input type="checkbox" onclick="showHidePass()">
        <input type="submit" value="Submit">
    </form>
    <a href="/viewblogs">&#60;&#60;&#60; Go back</a>
</body>

</html>