<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogs</title>
    <link rel="stylesheet" href="/static/css/master.css">
    <link rel="stylesheet" href="/static/css/viewblogs.css">
    <script src="/static/javascript/viewBlogs.js"></script>
</head>

<body>
    <br>
    <a href="/createblogs">Create a blog</a>
    <br><br><br>
    {% for blog in data %}
    <button class="blog">
        <p class="title">{{ blog["title"] }}</p>
        <p class="description">{{ blog["description"] }}</p>
        <hr>
        <p class="content">{{ blog["content"] }}</p>
        <hr>
        <br>
        <p class="author">Posted by: {{ blog["user"] }}</p>
    </button>
    <dialog>
        <form method="dialog">
            <input type="submit" class="close" value="&times;">
        </form>
        <p class="title">{{ blog["title"] }}</p>
        <p class="description">{{ blog["description"] }}</p>
        <hr>
        <p class="content">{{ blog["content"] }}</p>
        <hr>
        <br>
        <p class="author">Posted by: {{ blog["user"] }}</p>
    </dialog>
    {% endfor %}
</body>

</html>